<section class="benefits">
  <div class="benefits__row">
    <div class="benefits__header">
      <h2 class="benefits__title">
        Преимущества наших котельных
      </h2>
      <p class="benefits__desc">
        Мы применяем погодозависимые контроллеры, которые способны поддерживать необходимую температуру теплоносителя, в
        зависимости от потребности клиента и от погодных условий. Это приводит к существенной экономии топлива.
      </p>
      <button class="btn btn-reset benefits__btn centered btn-reset" data-form-btn>
        Связаться с нами
      </button>
    </div>
    <div class="benefits__heater">
      <picture>
        <source srcset="./img/heater-3x.webp" media="(min-width: 2560px)">
        <source srcset="./img/heater-2x.webp" media="(min-width: 1920px)">
        <img src="./img/heater-2x.png" srcset="./img/heater-3x.png 3x" alt="">
      </picture>
    </div>
    <div class="benefits__items">
      <div class="benefits__col">
        <div class="benefits__item benefit benefit--blue benefit--1">
          <p>Котел оснащается термоизоляцией из полиэфирного волокна, что уменьшает потери тепла и снижает затраты
            энергии на нагрев
          </p>
        </div>
        <div class="benefits__item benefit benefit--dark benefit--2">
          <p>Пропорционально-интегральное регулирование служит для оптимального подбора мощности, что повышает
            эффективность работы
          </p>
        </div>
      </div>
      <div class="benefits__col">
        <div class="benefits__item benefit benefit--3">
          <p>Удобство обслуживания и ремонта достигнуто за счет применения блок-ТЭНов — к одной латунной гайке крепится
            по три нагревательных элемента
          </p>
        </div>
        <div class="benefits__item benefit benefit--blue benefit--4">
          <p>Специальная система вентиляции и охлаждения отводит излишки тепла из шкафов автоматики и управления, не
            давая электронике перегреваться
          </p>
        </div>
      </div>
      <div class="benefits__col">
        <div class="benefits__item benefit benefit--dark benefit--5">
          <p>Доступна возможность объединения нескольких блок-модулей для повышения итоговой производительности
          </p>
        </div>
        <div class="benefits__item benefit benefit--6">
          <p>Опционально наши котельные могут оснащаться GSM модулем для удаленного управления
          </p>
        </div>
      </div>
    </div>

    <div class="benefits__slider-wrapper">
      <div class="benefits__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="benefits__item benefit benefit--blue">
              <p>Котел оснащается термоизоляцией из полиэфирного волокна, что уменьшает потери тепла и снижает затраты
                энергии на нагрев
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefits__item benefit benefit--dark ">
              <p>Пропорционально-интегральное регулирование служит для оптимального подбора мощности, что повышает
                эффективность работы
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefits__item benefit">
              <p>Удобство обслуживания и ремонта достигнуто за счет применения блок-ТЭНов — к одной латунной гайке
                крепится
                по три нагревательных элемента
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefits__item benefit benefit--blue">
              <p>Специальная система вентиляции и охлаждения отводит излишки тепла из шкафов автоматики и управления, не
                давая электронике перегреваться
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefits__item benefit benefit--dark">
              <p>Доступна возможность объединения нескольких блок-модулей для повышения итоговой производительности
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefits__item benefit">
              <p>Опционально наши котельные могут оснащаться GSM модулем для удаленного управления
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="benefits__slider-control">
        <div class="benefits-button-prev"></div>
        <div class="benefits-pagination"></div>
        <div class="benefits-button-next"></div>
      </div>
    </div>
  </div>
</section>