<section class="compos">
  <div class="container">
    <h2 class="compos__title big-title">
      Из чего состоит котельная
    </h2>
    <p class="compos__desc">
      Котельные ООО “ВАРМ” - это полностью укомплектованные сооружения, готовые к эксплуатации сразу после монтажа и
      настройки.
    </p>

    <div class="compos__content">
      <ul class="list-reset compos__list">
        <li class="compos__item">
          котлы POLYKRAFT
        </li>
        <li class="compos__item">
          горелки F.B.R
        </li>
        <li class="compos__item">
          котловые насосы Wilo
        </li>
        <li class="compos__item">
          сетевые насосы Wilo
        </li>
        <li class="compos__item">
          качественная запорно-регулирующая арматура
        </li>
        <li class="compos__item">
          расширительные баки
        </li>
        <li class="compos__item">
          система автоматического управления
        </li>
        <li class="compos__item">
          система диспетчеризации
        </li>
      </ul>

      <div class="compos__image">
        <img src="./img/compos-bg.svg" alt="Composition">

      </div>
    </div>

    <div class="compos__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide compos__slide">
          <img src="./img/compose-slide-1.svg" alt="Slide 1">
        </div>
        <div class="swiper-slide compos__slide">
          <img src="./img/compose-slide-2.svg" alt="Slide 2">
        </div>
        <div class="swiper-slide compos__slide">
          <img src="./img/compose-slide-3.svg" alt="Slide 3">
        </div>
        <div class="swiper-slide compos__slide">
          <img src="./img/compose-slide-4.svg" alt="Slide 4">
        </div>
      </div>
      <div class="compos__row">
        <div class="compos__control">
          <div class="compos-button-prev"></div>
          <div class="compos-pagination"></div>
          <div class="compos-button-next"></div>
        </div>
        <p class="compos__text">* В случае необходимости обеспечим Вас ГВС и бойлерами</p>
      </div>
    </div>
  </div>
</section>