<section class="cta">
  <div class="container cta__container">
    <div class="cta__header">
      <h2 class="cta__title big-title">Не знаете, какая котельная Вам подойдет?</h2>
      <p class="cta__desc">Оставьте заявку, и мы перезвоним Вам, чтобы проконсультировать по особенностям различных
        котельных и помочь подобрать подходящий вариант
      </p>
      <address class="cta__contacts">
        <div class="cta__row">
          <a href="telto:+78126280495">+7 (812) 628-04-95</a>
          <a href="mailto:info@warmspb.ru">info@warmspb.ru</a>
        </div>
        <div class="cta__row cta__socials">
          <a href="#">
            <svg>
              <use xlink:href="img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
          <a href="#">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp-icon"></use>
            </svg>
          </a>
        </div>
      </address>

    </div>
    <form class="cta__form form">
      <label>
        <input type="text" class="form__input" placeholder="Ваше имя">
      </label>
      <label>
        <input type="email" class="form__input" placeholder="Ваш email">
      </label>
      <label>
        <input type="tel" class="form__input" data-type="phone" placeholder="Номер телефона">
      </label>
      <label>
        <input type="checkbox">
        <p class="form__policy">Согласен с <a href="./policy.html" target="_blank">политикой конфиденциальности</a>
          сайта и даю согласие на
          обработку персональных
          данных.
        </p>
      </label>
      <button type="submit" class="btn form__btn btn-reset">Оставить заявку</button>
    </form>
  </div>
</section>