<section class="discount">
  <div class="discount__container">
    <div class="discount__header">
      <h2 class="discount__title big-title">
        Подберем котельную для Вас онлайн
      </h2>
      <p class="discount__desc">
        Ответьте на вопросы и получите скидку <span>10%</span>
      </p>
    </div>

    <form action="sumbit" class="discount__form disc-form">
      <ul class="disc-form__list list-reset">
        <li class="disc-form__item">
          <p class="disc-form__question">1.Какая мощность котельной Вас интересует?</p>
          <div class="disc-form__row disc-form__row--unspace">
            <label class="disc-form__label">
              <input type="checkbox"><span>500 кВт</span>
            </label>
            <label class="disc-form__label">
              <input type="checkbox"><span>1000 кВт</span>
            </label>
          </div>
        </li>
        <li class="disc-form__item">
          <p class="disc-form__question">2.На какой объект требуется установка котельной?</p>
          <div class="disc-form__row">
            <label class="disc-form__label">
              <input type="checkbox"><span>Строящийся объект недвижимости</span>
            </label>
            <label class="disc-form__label">
              <input type="checkbox"><span>Коммерческое здание</span>
            </label>
            <label class="disc-form__label">
              <input type="checkbox"><span>Жилое здание</span>
            </label>
          </div>
        </li>
        <li class="disc-form__item">
          <p class="disc-form__question">3.Период аренды?</p>
          <div class="disc-form__row">
            <label class="disc-form__label">
              <input type="checkbox"><span>1 месяц</span>
            </label>
            <label class="disc-form__label">
              <input type="checkbox"><span>2 месяца и более</span>
            </label>
            <label class="disc-form__label">
              <input type="checkbox"><span>Весь отопительный сезон (сентябрь-март)</span>
            </label>
          </div>
        </li>
        <div class="disc-form__row">
          <li class="disc-form__item">
            <p class="disc-form__question">4.Дата начала аренды</p>
            <input type="text" class="disc-form__input" data-type="date" placeholder="15.12.2023...">
          </li>
          <li class="disc-form__item">
            <p class="disc-form__question">5.Адрес объекта (хотя бы город)</p>
            <input type="text" class="disc-form__input" placeholder="город Москва...">
          </li>

          <button type="submit" class="btn-reset btn disc-form__btn">Получить скидку</button>
        </div>
      </ul>
    </form>
  </div>
</section>