<section class="heating">
  <div class="container">
    <div class="heating__header">
      <h2 class="big-title heating__title">В каких случаях используется мобильная котельная</h2>
      <p class="heating__desc">
        Наличие мобильной котельной позволяет избежать застоев в работе, обеспечив необходимые условия для проживания и
        жизнедеятельности
      </p>
    </div>
    <div class="swiper heating__slider video-block">
      <div class="swiper-wrapper video-block__wrapper">
        <div class="swiper-slide video-block__slide">
          <p data-aos="fade-up">
            <span>1.</span>Обеспечение подачи временного отопления
          </p>
        </div>
        <div class="swiper-slide video-block__slide">
          <p data-aos="fade-up">
            <span>2.</span>Обеспечение отопления в зданиях, находящихся на стадии постройки
          </p>
        </div>
        <div class="swiper-slide video-block__slide">
          <p data-aos="fade-up">
            <span>3.</span>Нагрев воды в ремонтируемых зданиях
          </p>
        </div>
        <div class="swiper-slide video-block__slide">
          <p data-aos="fade-up">
            <span>4.</span>Подача бесперебойного тепла в местах временного проживания
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="heating__video">
    <!-- <img src="./img/bg.jpg" alt=""> -->
    <video src="./cover.webm" autoplay muted loop></video>
  </div>
</section>