<section class="heating">
  <div class="container">
    <div class="heating__header">
      <h2 class="big-title heating__title">Мы поможем правильно подобрать котельную из нашего ассортимента</h2>
      <p class="heating__desc">
        Наличие мобильной котельной позволяет избежать остановки отделочных и прочих работ внутри строящихся зданий, а
        также является альтернативой при отсутствии постоянного источника тепла уже эксплуатируемых зданий
      </p>
    </div>
  </div>
  <div class="heating__video">
    <div class="swiper heating__slider video-block">
      <div class="swiper-wrapper video-block__wrapper">
        <div class="swiper-slide video-block__slide">
          <p>
            <span>1.</span>Обеспечение подачи временного отопления
          </p>
        </div>
        <div class="swiper-slide video-block__slide">
          <p>
            <span>2.</span>Обеспечение отопления в зданиях, находящихся на стадии постройки
          </p>
        </div>
        <div class="swiper-slide video-block__slide">
          <p>
            <span>3.</span>Нагрев воды в ремонтируемых зданиях
          </p>
        </div>
        <div class="swiper-slide video-block__slide">
          <p>
            <span>4.</span>Подача бесперебойного тепла в местах временного проживания
          </p>
        </div>
      </div>
    </div>
    <video loop class="heating-video">
      <source src="./cover.mp4">
    </video>
    <button class="video-mob__btn btn-reset">
      Смотреть видео
    </button>
  </div>
</section>