<section class="hero">
  @include('./header.html')
  <div class="hero__wrapper">
    <div class="hero__container">
      <div class="hero__header">
        <h1 class="hero__title">
          Аренда мобильных котельных установок
        </h1>
        <h2 class="hero__subtitle">
          Мы не дадим Вам замерзнуть
        </h2>
        <button class="btn btn-reset hero__btn btn-reset" data-form-btn>
          Связаться с нами
        </button>
      </div>
    </div>
  </div>
  <ul class="hero__list list-reset">
    <li class="hero__item hero__item--sup">
      <p>Автономные котельные на Вашем объекте через 24 часа после обращения</p>
    </li>
    <li class="hero__item hero__item--rel">
      <p>Высокая надежность</p>
    </li>
    <li class="hero__item hero__item--prot">
      <p>Многоуровневая защита</p>
    </li>
    <li class="hero__item hero__item--saf">
      <p>Безопасность в эксплуатации</p>
    </li>
  </ul>
</section>