<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__container">
      <div class="hero__header">
        <h1 class="hero__title">
          Аренда мобильных котельных установок
        </h1>
        <h2 class="hero__subtitle">
          Мы не дадим Вам замерзнуть
        </h2>
        <a href="#" class="btn btn-reset hero__btn">
          Связаться с нами
        </a>
      </div>
    </div>
  </div>
  <ul class="hero__list list-reset">
    <li class="hero__item hero__item--sup">
      <p>Бесперебойное снабжение теплом и горячей водой в течение всего года</p>
    </li>
    <li class="hero__item hero__item--rel">
      <p>Высокая надежность</p>
    </li>
    <li class="hero__item hero__item--prot">
      <p>Многоуровневая защита</p>
    </li>
    <li class="hero__item hero__item--saf">
      <p>Безопасность в эксплуатации</p>
    </li>
  </ul>
</section>