<section class="mob-extra">
  <div class="mob-extra__container">
    <h2 class="big-title big-title--dark mob-extra__title">
      В каких случаях используется мобильная котельная
    </h2>
    <p class="mob-extra__desc">
      Наличие мобильной котельной позволяет избежать застоев в работе, обеспечив необходимые условия для проживания и
      жизнедеятельности
    </p>
    <ul class="list-reset mob-extra__list">
      <li class="mob-extra__item"><span>1.</span>
        <p>Обеспечение подачи временного отопления</p>
      </li>
      <li class="mob-extra__item"><span>2.</span>
        <p>Обеспечение отопления в зданиях, находящихся на стадии постройки</p>
      </li>
      <li class="mob-extra__item"><span>3.</span>
        <p>Нагрев воды в ремонтируемых зданиях</p>
      </li>
      <li class="mob-extra__item"><span>4.</span>
        <p>Подача бесперебойного тепла в местах временного проживания</p>
      </li>
    </ul>
  </div>
</section>