<div class="modal" data-form-modal>
  <form class="modal-form form">
    <h3>Оставьте заявку, и мы перезвоним Вам</h3>
    <p>Чтобы проконсультировать по особенностям различных котельных и помочь подобрать подходящий вариант</p>
    <div class="form__inputs">
      <label>
        <input type="text" class="form__input" placeholder="Ваше имя">
      </label>
      <label>
        <input type="email" class="form__input" placeholder="Ваш email">
      </label>
      <label>
        <input type="tel" class="form__input" data-type="phone" placeholder="Номер телефона">
      </label>
    </div>
    <label class="form-last__label">
      <input type="checkbox">
      <p class="form__policy">Согласен с <a href="./policy.html" target="_blank">политикой конфиденциальности</a>
        сайта и даю согласие на
        обработку персональных
        данных.
      </p>
    </label>
    <button type="submit" class="btn form__btn btn-reset">Оставить заявку</button>
  </form>
</div>