<div class="partners">
  <div class="container">
    <h3 class="partners__title">наши партнеры</h3>
  </div>
  <div class="partners__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="partners__item">
          <img src="./img/partners/01.svg" alt="Лента">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="partners__item">
          <img src="./img/partners/02.svg" alt="Tokyo City">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="partners__item">
          <img src="./img/partners/03.svg" alt="JCA">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="partners__item">
          <img src="./img/partners/04.svg" alt="Корпорация Русь">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="partners__item">
          <img src="./img/partners/05.svg" alt="АвтоСТОлица">
        </div>
      </div>
    </div>
  </div>
</div>