<div class="partners">
  <div class="container">
    <h3 class="partners__title">наши партнеры</h3>
  </div>
  <div class="items-wrap">
    <div class="items marquee">
      <div class="partners__item">
        <svg>
          <use xlink:href="img/sprite.svg#part1"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part2"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part3"></use>
        </svg>
      </div>
      <div class="partners__item partners__item--rus">
        <svg class="">
          <use xlink:href="img/sprite.svg#part4"></use>
        </svg>
      </div>
      <div class="partners__item partners__item partners__item--auto">
        <svg class="">
          <use xlink:href="img/sprite.svg#part5"></use>
        </svg>
      </div>
    </div>
    <div aria-hidden="true" class="items marquee">
      <div class="partners__item">
        <svg>
          <use xlink:href="img/sprite.svg#part1"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part2"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part3"></use>
        </svg>
      </div>
      <div class="partners__item partners__item--rus">
        <svg class="">
          <use xlink:href="img/sprite.svg#part4"></use>
        </svg>
      </div>
      <div class="partners__item partners__item--auto">
        <svg class="">
          <use xlink:href="img/sprite.svg#part5"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="items-wrap">
    <div class="items marquee reverce">
      <div class="partners__item partners__item--auto">
        <svg>
          <use xlink:href="img/sprite.svg#part5"></use>
        </svg>
      </div>
      <div class="partners__item partners__item--rus">
        <svg class="">
          <use xlink:href="img/sprite.svg#part4"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part3"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part2"></use>
        </svg>
      </div>
      <div class="partners__item partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part1"></use>
        </svg>
      </div>
    </div>
    <div aria-hidden="true" class="items marquee reverce">
      <div class="partners__item partners__item--auto">
        <svg>
          <use xlink:href="img/sprite.svg#part5"></use>
        </svg>
      </div>
      <div class="partners__item partners__item--rus">
        <svg class="">
          <use xlink:href="img/sprite.svg#part4"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part3"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part2"></use>
        </svg>
      </div>
      <div class="partners__item partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#part1"></use>
        </svg>
      </div>
    </div>
  </div>
</div>