<section class="reliability">
  <div class="container">
    <h2 class="reliability__title">
      экономия и надежность
      <picture>
        <source srcset="./img/details/01-3x.webp" media="(min-width: 2560px)">
        <source srcset="./img/details/01-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/details/01.webp">
        <img data-rellax-speed="2" class="rellax rel-first-det" src="./img/details/01.png"
          srcset="./img/details/01-2x.png 2x" alt="">
      </picture>

      <picture>
        <source srcset="./img/details/02-3x.webp" media="(min-width: 2560px)">
        <source srcset="./img/details/02-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/details/02.webp">
        <img data-rellax-speed="1" class="rellax rel-second-det" src="./img/details/02.png"
          srcset="./img/details/02-2x.png 2x" alt="">
      </picture>

      <picture>
        <source srcset="./img/details/03-3x.webp" media="(min-width: 2560px)">
        <source srcset="./img/details/03-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/details/03.webp">
        <img data-rellax-speed="3" class="rellax rel-third-det" src="./img/details/03.png"
          srcset="./img/details/03-2x.png 2x" alt="">
      </picture>
    </h2>
    <ul class="reliability__list list-reset">
      <li class="reliability__item rel-item rel-item--time">
        <h2 class="rel-item__title">24/7</h2>
        <p class="rel-item__text">Круглосуточная диспетчерская служба</p>

      </li>
      <li class="reliability__item rel-item rel-item--perc">
        <h2 class="rel-item__title">100%</h2>
        <p class="rel-item__text"> Контроль качества</p>

      </li>
      <li class="reliability__item rel-item rel-item--year">
        <h2 class="rel-item__title">>10 лет</h2>
        <p class="rel-item__text">Мы работаем с 2012 года</p>

      </li>
    </ul>

    <div class="reliability__advs rel-advs">
      <ul class="list-reset rel-advs__list">
        <li class="rel-advs__item">
          <h4 class="rel-advs__title">Собственное оборудование</h4>
          <p class="rel-advs__desc">Надежное обеспечение теплом и горячей водой</p>
        </li>
        <li class="rel-advs__item">
          <h4 class="rel-advs__title">Теплоснабжение под ключ</h4>
          <p class="rel-advs__desc">Мы осуществляем весь цикл работ: доставка на объект, монтаж оборудования,
            подключение и пусконаладка.</p>
        </li>
        <li class="rel-advs__item">
          <h4 class="rel-advs__title">Котельные всегда в наличии</h4>
          <p class="rel-advs__desc">Мы доставим котельную мощностью 500 кВт или 1000 кВт на ваш объект уже завтра</p>
        </li>
        <li class="rel-advs__item">
          <h4 class="rel-advs__title">Контроль качества</h4>
          <p class="rel-advs__desc">На каждом этапе: от запроса до отгрузки и запуска в эксплуатацию</p>
        </li>
        <li class="rel-advs__item">
          <h4 class="rel-advs__title">Поставки качественного топлива</h4>
          <p class="rel-advs__desc">Мы обеспечим котельную топливом на весь отопительный сезон</p>
        </li>
      </ul>

      <div class="rel-advs__images">
        <div class="rel-advs__img">
          <picture>
            <source srcset="./img/rel/01-3x.webp" media="(min-width: 2560px)">
            <source srcset="./img/rel/01-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/rel/01.webp">
            <img src="./img/rel/01.jpg" srcset="./img/rel/01-2x.webp 2x" alt="">
          </picture>
        </div>
        <div class="rel-advs__img">
          <picture>
            <source srcset="./img/rel/02-3x.webp" media="(min-width: 2560px)">
            <source srcset="./img/rel/02-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/rel/02.webp">
            <img src="./img/rel/02.jpg" srcset="./img/rel/02-2x.webp 2x" alt="">
          </picture>
        </div>
      </div>
    </div>

  </div>
  @include('partners.html')
</section>