<section class="rent">
  <div class="container">
    <h2 class="rent__title big-title big-title--dark">
      Аренда котельных «под ключ» от 102 000 руб
    </h2>

    <div class="rent__items">
      <article class="rent__item rent-item">
        <h3 class="rent-item__title">Аренда котельных на темном печном топливе</h3>
        <ul class="rent-item__list list-reset">
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>Экономия на топливе до 60%
          </li>
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>Надежное оборудование европейских производителей
          </li>
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>Высокий КПД и производительность
          </li>
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>Компактные размеры
          </li>
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>БЕСПЛАТНОЕ обслуживание объектов 24/7
          </li>
        </ul>
        <a href="#" class="rent-item__btn btn">
          Получить коммерческое предложение
        </a>
      </article>
      <article class="rent__item rent-item">
        <h3 class="rent-item__title">Аренда котельных на дизельном топливе</h3>
        <ul class="rent-item__list list-reset">
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>Минимальный срок аренды не ограничен
          </li>
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>Мощность котельных от 500 до 1400 кВт
          </li>
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>Доставка и запуск в течение 24 ч
          </li>
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>Автономность работы и надёжность
          </li>
          <li class="rent-item__item">
            <span>
              <svg class="">
                <use xlink:href="img/sprite.svg#list-icon"></use>
              </svg>
            </span>В стоимость аренды входит проведение пусконаладочных работ и организация поставки топлива
          </li>
        </ul>
        <a href="#" class="rent-item__btn btn">
          Получить коммерческое предложение
        </a>
      </article>

    </div>
  </div>
</section>