<section class="scheme">
  <div class="container">
    <h2 class="big-title big-title--dark scheme__title">Схема работ</h2>

    <ul class="scheme__accord accord list-reset">
      <li class="accord__item">
        <div class="accord__row accord__header">
          <span class="accord__line"></span>
          <h3 class="accord__title">
            1. Согласование деталей
          </h3>
        </div>
        <div class="accord__row accord__row--desc">
          <div class="accord__desc">
            <p>Оставьте заявку или обратитесь к нам за бесплатной консультацией, если проблема с
              отоплением кажется Вам сложной.</p>
            <p>Мы поможем правильно подобрать котельную из нашего ассортимента, найдём совместно оптимальное место для
              установки на объекте, ответим на все сопутствующие вопросы.</p>
          </div>
        </div>
      </li>
      <li class="accord__item">
        <div class="accord__row accord__header">
          <span class="accord__line"></span>
          <h3 class="accord__title">
            2.Подписание договора аренды
          </h3>
        </div>
        <div class="accord__row accord__row--desc">
          <div class="accord__desc">
            <p>После согласования условий на установку с заказчиков наступает время для заключения соглашения на аренду
              модульной котельной.</p>
            <p>Наша компания берет на себя весь комплекс сопутствующих услуг, связанный с эксплуатацией: обслуживание и
              организацию поставок топлива.</p>
            <p>Все эти моменты мы прописываем в договоре, чтобы вы были уверены в нашей компетенции.</p>
          </div>
        </div>
      </li>
      <li class="accord__item">
        <div class="accord__row accord__header">
          <span class="accord__line"></span>
          <h3 class="accord__title">
            3.Монтаж
          </h3>
        </div>
        <div class="accord__row accord__row--desc">
          <div class="accord__desc">
            <p>
              Монтаж котельных осуществляется на ровное твердое основание. В идеале – дорожные плиты, по две под каждый
              контейнер.
            </p>
            <p>
              Основная задача при подготовке основания – исключение возможности сдвига котельной во время эксплуатации.
              Котельная имеет два фланца для подключения подающей и обратной линии системы отопления. Подключение обычно
              осуществляет заказчик, но мы можем взять это и на себя.
            </p>
            <p>
              Также необходимо подключить электропитание (380В, 15 кВт).
            </p>
            <p>Ну и последнее действие перед запуском – первая заправка емкостей топливом.</p>
          </div>
        </div>
      </li>
      <li class="accord__item">
        <div class="accord__row accord__header">
          <span class="accord__line"></span>
          <h3 class="accord__title">
            4.Пуско-наладка
          </h3>
        </div>
        <div class="accord__row accord__row--desc">
          <div class="accord__desc">
            <p>При готовности котельной к пуско-наладке (наличие теплотрассы и теплоносителя в ней, электропитания и
              топлива) можно приступать к запуску. Обычно эта работа занимает не более одного рабочего дня.</p>
            <p>Производится прогрев системы, наладка горения для обеспечения наименьшего возможного расхода,
              устанавливается температурный график по согласованию с заказчиком, проверка автоматики безопасности и
              регулирования, а также проверка работы системы диспетчеризации. С этого момента котельная находится в
              эксплуатационном режиме.</p>
          </div>
        </div>
      </li>
      <li class="accord__item">
        <div class="accord__row accord__header">
          <span class="accord__line"></span>
          <h3 class="accord__title">
            5.Эксплуатация
          </h3>
        </div>
        <div class="accord__row accord__row--desc">
          <div class="accord__desc">
            <p>Мы всегда рекомендуем нашим заказчикам поручить все действия, связанные с эксплуатацией котельных в наши
              руки. Это отличный способ избежать спорных ситуаций.</p>
            <p>В этом случае все вопросы, связанные с котельной находятся в зоне нашей ответственности.</p>
            <p>Под эксплуатацией мы понимаем техническое и аварийное обслуживание, слежение за уровнем топлива,
              своевременные заправки, изменения температурного графика или отключение оборудования при необходимости.
            </p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>