<section class="services">
  <div class="container">
    <h2 class="services__title big-title big-title--dark">Оказываем весь комплекс услуг</h2>
    <div class="services__container">
      <div class="services__img">
        <picture>
          <source srcset="./img/services-bg-3x.webp" media="(min-width: 2560px)">
          <source srcset="./img/services-bg-2x.webp" media="(min-width: 1920px)">
          <source srcset="./img/services-bg.webp">
          <img src="./img/services-bg.jpg" srcset="./img/services-bg-2x.jpg 2x, ./img/services-bg-3x.jpg 3x"
            alt="Services">
        </picture>
      </div>
      <ul class="services__list list-reset">
        <li class="services__item services__item--deliv">
          <span>Доставка к месту&nbsp;установки</span>
        </li>
        <li class="services__item services__item--set">
          <span>Установка и монтаж</span>
        </li>
        <li class="services__item services__item--lau">
          <span>Пуско-наладочные работы</span>
        </li>
        <li class="services__item services__item--serv">
          <span>Сервисное обслуживание</span>
        </li>
        <li class="services__item services__item--acc">
          <span>Аварийно-диспетчерское обслуживание</span>
        </li>
        <li class="services__item services__item--sup">
          <span>Поставка топлива</span>
        </li>
        <li class="services__item services__item--rem">
          <span>Удаленный мониторинг</span>
        </li>
        <li class="services__item services__item--dem">
          <span>Демонтаж и вывоз</span>
        </li>
      </ul>
    </div>
  </div>
</section>