html {
  box-sizing: border-box;
  font-size: calc(100vw / 192);
  -webkit-font-smoothing: antialised;

  @media (max-width: 768px) {
    font-size: calc(100vw / 43);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: inline-block;
  color: #FFF;
  font-family: "Roboto";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding: 1.5rem;
  padding-bottom: 1.7rem;
  background-color: #294B9B;
  transition: background-color .3s ease-in;
  box-shadow: 8px 6px 10px 0px rgba(0, 0, 0, 0.35);
  width: 25rem;

  @include hover {
    background-color: #183475;
  }
}

.burger {
  width: 3rem;
  height: 2rem;
  position: relative;

  &__line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}